.section-title {
  font-weight: 600;
  font-size: large;
}

.poster-col {
  height: 50%;
}

.rate {
  font-size: 14px;
  padding-top: 4px;

  ion-icon {
    color: gold;
  }
}

h5 {
  margin-top: 4px;
}
