<ion-header #header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>{{movie.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scroll-events="true" [appHeader]="header">
  <div class="spotlight bkimg" [style.background-image]="'url('+ movie.poster +')'">
    <div class="gradient"></div>
    <div>
      <div class="ion-margin-start">
        <ion-toolbar>
          <h3>{{movie.title}}</h3>
          <ion-buttons slot="primary">
            <ion-button color="secondary" *ngIf="!movie.favorite" (click)="fav(movie.favorite)">
              <ion-icon style="font-size: 40px;" name="heart-circle-outline"></ion-icon>
            </ion-button>
            <ion-button color="secondary" *ngIf="movie.favorite" (click)="fav(movie.favorite)">
              <ion-icon style="font-size: 40px;" name="heart-circle"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div>
          <ion-toolbar>
            <div class="ion-margin-bottom">
              <ion-chip color="primary" outline>
                <ion-icon name="calendar"></ion-icon>
                <ion-label>ReleaseDate: {{movie.released}}</ion-label>
              </ion-chip>
              <ion-chip color="secondary" outline>
                <ion-icon name="hourglass"></ion-icon>
                <ion-label>Duration: {{movie.runtime}} min</ion-label>
              </ion-chip>
              <ion-chip color="warning" outline class="rate">
                <ion-icon name="star"></ion-icon>
                <ion-label>{{movie.imdbRating}}</ion-label>
              </ion-chip>
            </div>
          </ion-toolbar>
        </div>
        <div>
          <ion-toolbar>
            <div class="ion-margin-bottom">
              <ion-chip color="success" outline *ngFor="let genre of movie.genres">
                <ion-label>{{genre.name}}</ion-label>
              </ion-chip>
            </div>
          </ion-toolbar>
        </div>
        <ion-toolbar>
          <ion-text>{{movie.plot}}</ion-text>
        </ion-toolbar>
      </div>
    </div>

    <div *ngIf="movie.actors.length > 0">
      <ion-list>
        <ion-list-header>
          <h3>Casting</h3>
        </ion-list-header>

        <ion-item *ngFor="let actor of movie.actors" (click)="goToPerson(actor.tmdbId)">
          <ion-avatar slot="start">
            <img *ngIf="actor.poster; else personDefaulIcon" src="{{actor.poster}}">
            <ng-template #personDefaulIcon>
              <ion-icon style="font-size: 48px;" name="person-circle-outline" color="primary"></ion-icon>
            </ng-template>
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h2>{{actor.name}}</h2>
            <h3>{{actor.role}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div *ngIf="movie.directors.length > 0">
      <ion-list>
        <ion-list-header>
          <h3>Directores</h3>
        </ion-list-header>

        <ion-item *ngFor="let director of movie.directors" (click)="goToPerson(director.tmdbId)">
          <ion-avatar slot="start">
            <img *ngIf="director.poster; else personDefaulIcon" src="{{director.poster}}">
            <ng-template #personDefaulIcon>
              <ion-icon style="font-size: 48px;" name="person-circle-outline"></ion-icon>
            </ng-template>
          </ion-avatar>
          <ion-label class="ion-text-wrap">
            <h2>{{director.name}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>

    <div>
      <ion-toolbar>
        <ion-title>Recomendaciones</ion-title>
      </ion-toolbar>
      <ion-slides [options]="options">
        <ion-slide *ngFor="let movie of similarMovies" (click)="goToSimilarMovie(movie.tmdbId)">
          <ion-grid>
            <ion-row>
              <ion-col size="12" class="poster-col">
                <img *ngIf="movie.poster; else movieDefaultIcon" [src]="movie.poster" alt="">
                <ng-template #movieDefaultIcon>
                  <ion-icon style="font-size: 50vh;" name="videocam" color="primary"></ion-icon>
                </ng-template>
              </ion-col>
              <ion-col size="12">
                <h5 class="ion-no-margin">{{movie.title}}</h5>
                <p class="ion-no-margin rate">
                  <ion-icon name="star"></ion-icon> {{movie.imdbRating}}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>
